<ul>
    <li style="display:none;">
        <a href="#">Programs</a>
        <ul style="display:none;">
            <li><a href="#">Sub menu programs</a></li>
            <li><a href="#">Sub menu programs</a></li>
            <li><a href="#">Sub menu programs</a></li>
            <li><a href="#">Sub menu programs</a></li>
            <li><a href="#">Sub menu programs</a></li>
        </ul>
    </li>
    	<li><%= link_to "Users", users_path()%></li>
    <li><a href="index.php?c=album&task=viewList" rel="album">Albums</a></li>
    <li><a href="index.php?c=musicKind&task=viewList" rel="musicKind">Music Kinds</a></li>
    <li><a href="index.php?c=singer&task=viewList" rel="singer">Singers</a></li>
    <li><a href="index.php?c=country&task=viewList" rel="country">Countries</a></li>
    <li><a href="index.php?c=comment&task=viewList" rel="comment">Comments</a></li>
    <li><a href="index.php?c=ad&task=viewList" rel="ad">Advertisements</a></li>
</ul>